* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.verde{
    background-color: #1da08a;
}
.branco{
    background-color: #1da08a;
}

body{
    background-color: rgb(207, 206, 206);
}
.tela{
    display: flex;
    flex-direction: column;
    background-color: #1da08a;
    height: 100vh;

border-radius: 2rem;
}
.from-above{
 background-color: #1da08a;
 height: 700px;
 width: 100vw;
}
.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border: solid #923818 1px;
}
.type{
    display: flex;
    justify-content: space-between;
}


.bottom{  
background-color: #f3f2f2;
border-radius: 2rem 2rem 0rem 0rem;
height: 100vh;
width: 100vw;
box-shadow: 0px 0px 20px 3px #fff;

} .menu2{
    border-radius: 2rem 2rem 0rem 0rem;
    margin-top: 25px;
    
   
} .menu3{
    display: flex;
    justify-content: space-between;
    margin: 1px;
}